#container{
    width: 80vw;
    border: 1px solid  white;
    margin:40px auto;
}

#inp{
    font-size: 24px;
}

button{
    font-size: 24px;
}
body{
    background-color: #fcd5ce;
}
h1{
    text-align: center;
    text-transform: capitalize;
    text-shadow:2px 2px white;
}
input{
    margin-left:350px;
}